<div style="text-align:center">
  <h2>Create a new product</h2>
  <form (submit)="createProduct()">
      <input type="text" name="newProduct.title" [(ngModel)]="newProduct.title" placeholder="Title">
      <input type="price" name="newProduct.price" [(ngModel)]="newProduct.price" placeholder="0.00">
      <input type="text" name="newProduct.url" [(ngModel)]="newProduct.url" placeholder="Image URL">
      <input type="submit" value="CREATE">
      <button [routerLink]="['/all']">CANCEL</button>
  </form>

  <div *ngFor="let error of errors">
    <p style="color: red;">{{ error.message }}</p>
  </div>
</div>
